@model IEnumerable<Web_School.ViewModel.StudentView>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .item-list {
            list-style-type: none;
            padding: 0;
        }

            .item-list li {
                display: flex;
                align-items: center;
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 10px;
                margin-bottom: 10px;
                background-color: #f9f9f9;
            }

                .item-list li input {
                    margin-left: 10px;
                    padding: 5px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

                    .item-list li input:focus {
                        border-color: #007bff;
                        outline: none;
                    }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h3 class="mb-4">
            Class <span style="font-weight:bold; color:green;">@Model.ElementAt(0).ClassLevel</span>
            Student Mark input of
            <span style="font-weight:bold; color:green;">@Model.ElementAt(0).SubjectName</span> subject
        </h3>

        <form id="itemsForm" method="post" action="/Result/GetMarks">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Subject Name</th>
                       
                        <th>Mark</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@Model.ElementAt(i).Name</td>
                            <td>@Model.ElementAt(i).SubjectName</td>
                            
                            <td>
                                <input type="number" name="studentViews[@i].Mark" value="" placeholder="Enter mark" required />
                                <input type="hidden" name="studentViews[@i].Name" value="@Model.ElementAt(i).Name" />
                                <input type="hidden" name="studentViews[@i].Grade" value="@Model.ElementAt(i).Grade" />
                                <input type="hidden" name="studentViews[@i].SubjectName" value="@Model.ElementAt(i).SubjectName" />
                                <input type="hidden" name="studentViews[@i].Phone" value="@Model.ElementAt(i).Phone" />
                                <input type="hidden" name="studentViews[@i].ClassLevel" value="@Model.ElementAt(i).ClassLevel" />
                                <input type="hidden" name="studentViews[@i].ClassId" value="@Model.ElementAt(i).ClassId" />
                                <input type="hidden" name="studentViews[@i].CourseId" value="@Model.ElementAt(i).CourseId" />
                                <input type="hidden" name="studentViews[@i].StudentId" value="@Model.ElementAt(i).StudentId" />

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</body>
</html>
